.footer {
  background-color: #1a1e29;
  padding: 5rem 0 4.7rem;
  &-container {
    max-width: $container;
    margin: 0 auto;
    color: white;
    padding: 0 1.5rem;
  }
  &-title {
    font-size: 3.2rem;
    font-weight: 500;
    text-align: center;
  }
  &-list {
    @include flexBox(center, center, row, wrap);
    margin: 3rem 0 3rem -1rem;
  }
  &-icon-list {
    @include flexBox(center, center, row, wrap);
    margin: 5rem 0 3rem;
  }
  &-item {
    max-width: 18.8rem;
    background-color: white;
    height: 6.5rem;
    @include flexBox(center, center);
    padding: 0 1.2rem;
    border-radius: 5px;
    margin-left: 1rem;
  }
  // &-item:not(:first-child) {
  //   margin-left: 1rem;
  // }
  &-bottom {
    @include flexBox(center, center);
    font-size: 1.4rem;
  }
  &-bottom-img {
    max-width: 15.5rem;
    margin: 0 3.9rem 0 1rem;
  }
  &-caption {
    font-weight: 500;
  }
  &-bottom-desc {
    color: rgba($color: white, $alpha: 0.8);
  }
  &-bottom-left {
    @include flexBox(center, center);
  }
  @include maxWidth(1023px) {
    padding-top: 5rem;
    &-item {
      margin-top: 2rem;
    }
    // &-item:not(:first-child) {
    //   margin-left: 2rem;
    // }
    // &-item:nth-child(4) {
    //   margin-left: 0;
    // }
    &-list {
      margin: 2rem 0 -2rem -1rem;
    }
    &-icon-list {
      margin: 4rem 0 -2rem;
    }
    &-title {
      font-size: 3rem;
    }
    &-sub-title {
      margin-top: 5rem;
      font-size: 3rem;
    }
  }
  @include maxWidth(767px) {
    // &-item:not(:nth-child(99)) {
    //   margin-left: 0;
    // }
    &-item {
      max-width: calc(50% - 1rem);
      // margin-left: 0;
    }
    // &-list {
    //   justify-content: space-between;
    // }
    &-bottom {
      flex-direction: column;
    }
    &-bottom-img {
      margin-right: 0;
    }
    &-bottom-desc {
      margin-top: 3rem;
      font-size: 1.2rem;
    }
  }
}
