.key {
  padding-top: 11rem;
  text-align: center;
  &-container {
    @include flexBox(center, center, column);
    max-width: $container;
    margin: 0 auto;
    padding: 0 1.5rem;
  }
  &-title {
    @include textStyle($title-color, 3.2rem, 500);
  }
  &-desc {
    margin: 2rem 0 7rem;
    @include textStyle($title-color);
    max-width: 97rem;
  }
  &-stone-img {
    max-width: 48rem;
  }
  &-plate-img {
    max-width: 100rem;
    position: relative;
    animation: plateMove 5s infinite;
    top: 0;
    z-index: 10;
    margin-bottom: 7rem;
    border-radius: 4rem;
  }
  &-animal-img {
    max-width: 19.4rem;
    margin-top: -20rem;
    margin-bottom: 2.5rem;
  }

  &-card-item {
    padding: 6rem 4rem;
    text-align: left;
  }
  &-card-item {
    background-position: 100% 100%;
    background-size: contain;
    height: 0;
    width: 100%;
    padding: 0 30px 147%;
    margin: 3rem 0 0;
    background-repeat: no-repeat;
  }
  &-card-item:nth-child(1) {
    background-image: url("./images/img-card-01.png");
  }
  &-card-item:nth-child(2) {
    background-image: url("./images/img-card-02.png");
  }
  &-card-item:nth-child(3) {
    background-image: url("./images/img-card-03.png");
  }
  @include maxWidth(1023px) {
    &-stone-img {
      max-width: 26rem;
    }
    &-desc {
      margin-bottom: 3rem;
    }
    &-plate-img {
      max-width: 50rem;
      margin-bottom: 3rem;
    }
    &-animal-img {
      max-width: 13rem;
      margin-top: -7rem;
    }
    &-title {
      font-size: 3rem;
    }
  }
}

@keyframes plateMove {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0);
  }
}
