.road {
	background-color: #26214a;
	color: white;
	padding: 7rem 0;
	// &-top {
	// 	width: 50%;
	// 	margin: 0 auto;
	// 	position: relative;
	// 	top: 0;
	// 	transform: translateY(-50%);
	// }
	&-title {
		font-size: 5.2rem;
		font-weight: 500;
		text-align: center;
		margin-bottom: 3rem;
		// margin-top: -20%;
	}
	&-container {
		@include flexBox();
	}
	&-left {
		max-width: 50%;
		img {
			height: 100%;
		}
	}
	&-right {
		margin-left: 3rem;
	}
}

@include maxWidth(1023px) {
	.road {
		padding: 5rem 0;
		&-item:not(:last-child) {
			margin-bottom: 7rem;
		}
		&-container {
			flex-direction: column-reverse;
		}
		&-title {
			// margin-top: -35%;
			font-size: 4.5rem;
		}
		&-right {
			margin-left: 0;
		}
		&-left {
			max-width: 100%;
			margin-top: 3rem;
		}
	}
}

.pd-left-lg {
	padding-left: 15%;
}
.pd-left-sm {
	padding-left: 10%;
}
	