.token {
  padding: 5rem 0 12rem;
  background-color: #292f40;
  &-container {
    max-width: $container;
    padding: 0 1.5rem;
    margin: 0 auto;
  }
  &-title {
    @include textStyle(white, 3.2rem, 500);
    text-align: center;
  }
  &-chart {
    @include flexBox();
    background-color: #1f2330;
    max-width: 96rem;
    margin: 7rem auto 0;
    border-radius: 2rem;
  }
  &-chart-img:nth-child(1) {
    max-width: 15.3rem;
    top: -82px;
    left: 150px;
  }
  &-chart-img:nth-child(2) {
    max-width: 23.8rem;
    top: 105px;
    left: 100px;
  }
  &-chart-img:nth-child(3) {
    top: 42px;
    left: -10px;
    max-width: 16.2rem;
  }
  &-chart-img:nth-child(4) {
    max-width: 19.2rem;
    left: -10px;
    bottom: -12px;
  }
  &-chart-img:nth-child(5) {
    max-width: 27.2rem;
    left: 82px;
    bottom: -134px;
  }
  &-chart-right {
    max-width: 68rem;
    padding: 3rem 0rem 0rem 0;
  }
  &-chart-left {
    flex: 1;
    position: relative;
    img {
      position: absolute;
    }
  }
  &-chart-buy {
    margin-top: 2.5rem;
    @include flexBox(center, space-between);
  }
  &-total {
    @include textStyle(white, 2rem);
  }
  &-btn {
    @include textStyle(white, 1.8rem, 700);
    height: 5rem;
    background: #e12a44;
    padding: 0 2rem;
    min-width: 20rem;
    text-transform: capitalize;
    border-radius: 1rem;
    transition: all 0.25s linear;
    &:hover {
      transform: translateY(-5px);
    }
  }
  @include maxWidth(1023px) {
    padding: 5rem 0 2rem;
    &-chart-left {
      display: none;
    }
    &-chart-right {
      padding: 0;
      max-width: 100%;
      background-color: #292f40;
    }
    &-chart-buy {
      flex-direction: column;
    }
    &-btn {
      margin-top: 2.8rem;
    }
  }
}
