$primary-color: #f53838;
$secondary-color: #dddddd;
$title-color: #2f2e41;
$text-color: #4f5665;
$text-color-light: #afb5c0;
$border-color: #eeeff2;
$primary-font: "Open Sans", sans-serif;
$wrapper: 1920px;
$container: 1230px;
